

@{
    ViewBag.Title = "   Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="myName"> Our Team Members</h1>

   <div id="header" class="section">
            <img alt="" class="img-circle" src="https://scontent.fdac5-1.fna.fbcdn.net/v/t1.6435-9/45612458_1836022383163669_6856614094892433408_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeF5oz4wLe5PUnA3rSrH14L2edIk2i3WzT150iTaLdbNPXE6spxLChWMoMjO7M_qI9ReqD6wpCinenzKnbJArmnS&_nc_ohc=DJG4Vc3maNIAX__yzkr&_nc_ht=scontent.fdac5-1.fna&oh=00_AT_JR2X4ybvqVcgLhiE3pfYeSjnPfYEi_Ix1R5Qmj6UmcQ&oe=627030AA">
            <p class="myName">Zobaer Hossain</p>
        </div>
         <div id="header" class="section">
            <img alt="" class="img-circle" src="https://scontent.fdac5-1.fna.fbcdn.net/v/t39.30808-6/273457004_451624093422794_5388507724071476461_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeH3FH9FKOnOFQb7p0-q5thHFHRThDeZQ7sUdFOEN5lDu5QqmbVhRle5r0ObJdrB-d9Q-AWSs2CShx4TAvxXq-J6&_nc_ohc=5A2ZR7-28H8AX-7CTdH&_nc_ht=scontent.fdac5-1.fna&oh=00_AT9jK3o_-G_qke73KNYqjdWa6ej4fh87HGyrYbfoXNt8Uw&oe=625086FE">
            <p class="myName">Mahiyan Khan Abir</p>
        </div>
         <div id="header" class="section">
            <img alt="" class="img-circle" src="https://scontent.fdac5-1.fna.fbcdn.net/v/t39.30808-6/272970484_1572374946480320_4933680596165633380_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeGF4KnmHI4glY7GxepQotokm1SkYZj73u6bVKRhmPve7sj8zYOPQG-rRNUaA1QVoMsxRl0gnPw_QdhBtGtEKPaD&_nc_ohc=dv7DCxlsHsoAX-WplvV&tn=BPrHZ6MfGfyFrczQ&_nc_ht=scontent.fdac5-1.fna&oh=00_AT8bOPjY2m7L7DnwYSESzexxRwpNXXBAXrtdqg5DL9xiMw&oe=62501319">
            <p class="myName">LM Refat</p>
        </div>
         <div id="header" class="section">
            <img alt="" class="img-circle" src="https://scontent.fdac5-1.fna.fbcdn.net/v/t39.30808-6/259147354_2947919182127914_589736951360878615_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeGAd7dP0ycL7UmatHCs5RUswIzPR6uOiSrAjM9Hq46JKjQ3-3TVJaeDgCEss8qWCd78FugXM8G20KiiM-0vykQn&_nc_ohc=rbyuO6WS1LAAX-MMrvf&_nc_ht=scontent.fdac5-1.fna&oh=00_AT8NaybPm6g23jmutwZZ9lVa0uKiNYUsXec5e9Lq72fDyQ&oe=625114F9">
            <p class="myName">Mahfuzur Rahman</p>
        </div>
         <div id="header" class="section">
            <img alt="" class="img-circle" src="https://scontent.fdac5-2.fna.fbcdn.net/v/t39.30808-6/277568697_517705579920536_8900844263840165877_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeE0PU-GJxY1hVu3Eqh5EQ58FmFSAyvsc0QWYVIDK-xzRLWqFHCKarjUf48Mb8EVMIKFWmXiR2mavfN9MF_cVdjP&_nc_ohc=h4XJmhDn7kIAX_7vNJH&_nc_ht=scontent.fdac5-2.fna&oh=00_AT_OnWH2goXr4zEyZARNZ5H1uXvAcXrvZieaqqBnMiSDXQ&oe=624FD96C">
            <p class="myName">Mafiara Khatun</p>
        </div>
         <div id="header" class="section">
            <img alt="" class="img-circle" src="./assets/profile.jpg">
            <p class="myName">Mohan Abdi</p>
        </div>

<style>
 .myName{

    text-shadow: #3b464c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   

}
.img-circle {
    border: 3px solid white;
    border-radius: 50%;
}
.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#header {
    background-color: gray;
    background-size: auto;
}
#header img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}
#header p {
    font-size: 25pt;
    color: white;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
</style>
